@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	align-items: center;
	background-color: #dadada;
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}

.h1 {
	text-align: "center";
	align-items: center;
}

img {
	max-width: 99%;
}
.grid {
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

body div {
	padding: 5px;
	width: 30%;
}

#map {
	width: 64%;
}

#population {
	width: 30%;
}

#line2 {
	width: 60%;
}