@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	align-items: center;
	background-color: beige;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	overflow: hidden;
}

img {
	max-width: 99%;
}
.grid {
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

body div {
	padding: 5px;
	width: 30%;
}

#map {
	width: 45%;
}

#population {
	width: 45%;
}